* {box-sizing: border-box;}

html,
body {
  height: 100%;
  font-size: 17px;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  /*
  color:#1b313b;
  background:#ecf1f1;
  */
}

main, div {
    display: block;
}

.clear{
    clear:both;
}

.resize{
    padding: 2% 2%;
    margin: 0.5% 0.5%;
}

.main{
    margin: 50px auto;
    width: 95%;
    max-width: 1500px;
}


.container {
    width: 95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    border: 1px solid #00838d;
    z-index: 500;
}

.card {
    display: block;
    top: 0px;
    position: relative;
    width: 13%;
    background-color: #f2f8f9;
    border-radius: 6px;
    padding: 22px 14px;
    margin: 1%;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid #f2f8f9;
    transition: all 0.3s ease-out;
    font-size: 12px;
}

@media screen and (max-width: 1250px){
    .card {
        width: 31%;
    }
}

@media screen and (max-width: 782px){
    .card {
        width: 48%;
    }
}



.card:hover .go-corner {
    background-color: red;
}

.card .go-corner {
    opacity: 0.7;
    transition: all 0.3s ease-out;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #db2151;
    border-radius: 0 4px 0 32px;
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.color{
    background-color: #007fff;
}

.card:hover .color{
    background-color: blue;
}